.contain{
  margin: 52px auto;
  width: 60%;
  /* border: 2px solid gold; */
  height: 300px;
  color: white;
  
}
.contain h1{
  /* align-items: center; */
  text-align: center;
  font-size: 52px;
}
.contain h3{
  text-align: center;
  font-size: 42px;
}
.form{
  display: flex;
  flex-direction: column;
  /* border: 2px solid greenyellow; */
  width: 70%;
  margin: 8px auto;
  /* align-items: center; */
  justify-content: center;
  padding: 8px;
}
.form input{
  padding: 8px;
  margin: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 22px;
}
.form button{
  padding: 8px;
  width: 40%;
  margin: auto;
  background-color: blue;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 6px;
  font-size: 20px;
}